[database]
name = eflips
host = localhost
user = user
password = secret
port = 5432

[paths]
snapshot_folder = snapshots
pg_restore = /opt/homebrew/bin/pg_restore
pg_dump = /opt/homebrew/bin/pg_dump
alembic = /Users/arbeit/Library/Caches/pypoetry/virtualenvs/eflips-x-h5Mw65dm-py3.13/bin/alembic